@model IEnumerable<Stanford_WorkingwithRazor.Models.stanfCategory>

@{
    ViewBag.Title = "Danh sách chủ đề";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách chủ đề</h2>
@using (Html.BeginForm()) {
<fieldset class="container">
    <div class="row">
        <div class="col-md-2">Từ khóa:</div>
        <div class="col-md-3">
            @*Hiển thị đối tượng textbox trong Razor*@
            @Html.Editor("tukhoa", new {htmlAttributes = new { @class = "form-control" }})
        </div>
        <div class="col-md-2">
            <input type="submit" name="btnTimKiem" class="btn btn-primary" value="Tìm kiếm" />
        </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Thêm mới", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaThongTin", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "XoaThongTin", new { id = item.Id }, new {onclick = "return confirm('Bạn có chắc chắn muốn xóa không ?')" })
            </td>
        </tr>
    }

</table>
}
